@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "De Pixel";
  src: url("/fonts/depixelklein.woff2") format("woff2");
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

a {
  @apply text-blue underline;
}

h1,
h2 {
  @apply font-pixel;
}

h3,
h4,
p {
  font-family: "Inter";
}

:root {
  --bg-tile-size: 60px;
}

.tile-background {
  background-size: var(--bg-tile-size) var(--bg-tile-size);
}

.bg-sand {
  background-image: url("/assets/sand_tile.png");
  @apply tile-background;
}

.bg-shore-line {
  background-image: url("/assets/shore_line_rotated.gif");
  @apply tile-background;
}

.bg-water {
  background-image: url("/assets/water_rotated.gif");
  @apply tile-background;
}

@media (min-width: 768px) {
  .bg-shore-line {
    background-image: url("/assets/shore_line.gif");
    max-width: 60px;
  }

  .bg-water {
    background-image: url("/assets/water.gif");
  }
}

.bg-grass-tile {
  background-image: url("/assets/grass_tile.png");
  @apply tile-background;
}

.bg-grass {
  background-image: url("/assets/grass.png");
  @apply tile-background;
}

.rounded-pixel {
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px
  );
}

.rounded-pixel-primary,
.rounded-pixel-primary--wrapper {
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px
  );
  position: relative;
}
.rounded-pixel-primary {
  border: 4px solid transparent;
}
.rounded-pixel-primary--wrapper {
  width: fit-content;
  height: fit-content;
}
.rounded-pixel-primary--wrapper .rounded-pixel-primary {
  display: block;
  clip-path: polygon(
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px)
  );
}
.rounded-pixel-primary::after,
.rounded-pixel-primary--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(22 163 74);
  display: block;
  pointer-events: none;
}
.rounded-pixel-primary::after {
  margin: -4px;
}
