@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-tile-size: 60px;
}

.tile-background {
  background-size: var(--bg-tile-size) var(--bg-tile-size);
}

.bg-sand {
  background-image: url("/assets/sand_tile.png");
  @apply tile-background;
}

.bg-shore-line {
  background-image: url("/assets/shore_line_rotated.gif");
  @apply tile-background;
}

.bg-water {
  background-image: url("/assets/water_rotated.gif");
  @apply tile-background;
}

@media (min-width: 768px) { 
  .bg-shore-line {
    background-image: url("/assets/shore_line.gif");
  }

  .bg-water {
    background-image: url("/assets/water.gif");
  }
}

.bg-grass-tile {
  background-image: url("/assets/grass_tile.png");
  @apply tile-background;
}

.bg-grass {
  background-image: url("/assets/grass.png");
  @apply tile-background;
}
